RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^www\.shortly\.at$
RewriteRule ^/?$ "https\:\/\/shortly\.at\/" [R=301,L]

# Security Headers 
<IfModule mod_headers.c>
# Strict-Transport-Security - only allowed to access using HTTPS
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

# Content-Security-Policy - all only used assets 
# Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' *.tiny.cloud *.googleapis.com *.gstatic.com *.iconscout.com *.imagekit.io *.tinymce.com *.ipinfo.io *.google-analytics.com *.doubleclick.net *.googlesyndication.com *.googletagmanager.com *.google.com; script-src 'self' 'unsafe-inline' *.tiny.cloud *.tinymce.com *.google.com *.doubleclick.net *.googletagmanager.com *.googlesyndication.com *.google-analytics.com; manifest-src 'self'; frame-ancestors 'self'; img-src 'self' 'unsafe-inline' *.tinymce.com;"

# X-Frame-Options - allow or not for frames, embed and object html tags
Header set X-Frame-Options "DENY"

# X-Content-Type nosniff
Header set X-Content-Type-Options nosniff

# Noreferrer policy
Header always set Referrer-Policy "origin"
</IfModule>

